= stylesheet_link_tag    'users/new', media: 'all', 'data-turbolinks-track': 'reload'

.wrapper
  .container
    %h2 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "input"
      .actions
        = f.submit "Log in",class: "button"
    = render "users/shared/links"
    