= render 'shared/header'

.recipe__container
  %main.container{role:  "main"}
    %h1.users-heading
    .posts-index-top
      %form{action: "recipes", accept-charset: "UTF-8", method: "get", class: "form_user"}
        %input{name: "utf8", type: "hidden", value: "✓"}
        %p.users-search
          %input{type: "text", name: "search", id: "search", class: "search-form", placeholder: "ユーザー検索"}
          %button.btn.btn-success{type: "button", id: "submit"}  
            %i.fa.fa-search
            検索
    - @recipe.each do |recipe|
      .card.mb-3
        .row.no-gutters
          .col-md-4
            = image_tag "#{recipe.image}"
          .col-md-8
            .card-body
              %h5.card-title
                = recipe.name
              %p.card-text
                name
              %p.card-text
                = recipe.text



= render 'shared/footer'