= render 'shared/header'

.container
  .post-show-img
    .post-time
      %span
      = @recipe.created_at.strftime("%Y/%m/%d %H:%M")
      %p
        = fa_icon "bullhorn"
        = @recipe.category
        = fa_icon "clock-o"
        =@recipe.time
    .post-show-user-name
      %img{:src => "/images/default_user.png"}/
      = @recipe.user.name 
    %div
      .posts-show-title
        %h4 
          =@recipe.name
    .post-image
      = image_tag "#{@recipe.image}", class: 'post-image'
    .comment-menus
      = link_to "コメントする", recipes_path 
    .post-menus
      = link_to "編集", edit_recipe_path 
      = link_to "削除", recipe_path, method: :delete
    .posts-show-item
      %p #{@recipe.user.name}：#{@recipe.text}
      .posts-show-subtitle
        %p 材料・調味料(#{@recipe.person})
      %p 材料：#{@recipe.material}
      %hr.border-top/
      %p 調味料：#{@recipe.seasoning}
      .posts-show-subtitle
        %p 作り方
      = succeed "#{@recipe.content1}" do
        %span 1.
      %br/
      %hr/
      = succeed "#{@recipe.content2}" do
        %span 2.
      %br/
      %hr/
      = succeed "#{@recipe.content3}" do
        %span 3.
      %br/
      %hr/
      = succeed "#{@recipe.content4}" do
        %span 4.
      %br
      %hr/
      %p
      %h4 Comments
      - if user_signed_in?
        = form_with model: [@recipe, @comment] do |f|
          = f.text_field :text
          = f.submit "コメントする"  
      - @recipe.comments.each do |comment|
        .posts-show-comment
          .post-time-comment
            =image_tag "/images/default_user.png", class: "user-img"
            = comment.created_at.strftime("%Y/%m/%d %H:%M")
          = link_to "#{comment.user.name}:"
          = comment.text
          -
          .post-menus
            = link_to "削除", recipe_comment_path(recipe_id: @recipe.id, id: comment.id), method: :delete
          %hr/