= stylesheet_link_tag    'users/index', media: 'all', 'data-turbolinks-track': 'reload'

=render 'shared/header'

.main__users-all
  .main__users-all-container
    %h1.users-heading
    .posts-index-top
      =form_for('/users', method: "get", class: "form_user") do
        %input{type: "hidden", value: "✓"}
        %p.users-search
          %input{type: "text", name: "keyword", id: "search", class: "search-form", placeholder: "ユーザー検索"}
          %button.btn.btn-success{type: "submit", id: "submit"}  
            %i.fa.fa-search
            検索
    -@users.each do |user|
      .users-all-items
        .user-left
          = link_to "name", "/user/#{user.id}", class:"users-items-box"
          = image_tag '', alt: '', height: '', width: '', class: 'user-left-img'
        .user-right
          = user.name
