.wrapper
  .container
    %h2
      プロフィール変更
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :現在のパスワード
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: "input"
      .field
        = f.label :新パスワード
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "input"
      .field
        = f.label :新パスワード（確認）
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "input"
      .actions
        = f.submit "変更する", class: "button"
    = link_to "back", :back
    
%ul.bg-bubbles
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li
  %li